[Desktop Entry]
Name=Gestionnaire de mises à jour
Comment=Afficher et installer les mises à jour disponibles
GenericName=Afficher et installer les mises à jour disponibles
Exec=mintupdate
Icon=mintupdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;
StartupNotify=false
OnlyShowIn=KDE;
