[Desktop Entry]
Name=Gestionnaire de mises à jour
Comment=Afficher et installer les mises à jour disponibles
Exec=mintupdate
Icon=mintupdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=false
NotShowIn=KDE;
