[Desktop Entry]
Name=Update Manager
Name[csb]=Menedżera aktualizacëji
Name[tl]=Tagapamahala ng Update
Name[fr]=Gestionnaire de Mises à Jour
Name[cs]=Správce aktualizací
Name[pt]=Gestor de Actualizações
Name[fo]=Dagførings Umsiting
Name[nb]=Oppdateringsbehandler
Name[bn]=আপডেট ম্যানেজার
Name[ar]=مدير التحديثات
Name[ro]=Administrator actualizări
Name[ast]=Xestor d'anovamientos
Name[gl]=Xestor de actualizacións
Name[ja]=アップデート・マネージャ
Name[he]=מנהל עדכונים
Name[sr]=Менаџер закрпа за Linux Mint
Name[pl]=Menadżer aktualizacji
Name[lt]=Atnaujinimų tvarkyklė
Name[ru]=Менеджер обновлений
Name[hu]=Frissítéskezelő
Name[fi]=Päivitysten hallinta
Name[de]=Aktualisierungsverwaltung
Name[el]=Διαχειριστής Ενημερώσεων
Name[zh_CN]=更新管理器
Name[en_GB]=Update Manager
Name[am]=የማሻሻያ አስተዳዳሪ
Name[zh_HK]=更新管理員
Name[es]=Gestor de actualizaciones
Name[tr]=Güncelleme Yöneticisi
Name[bg]=Мениджър на актуализациите
Name[ko]=업데이트 매니저
Name[nl]=Update Manager
Name[et]=Uuendamishaldur
Name[zh_TW]=更新管理員
Name[sk]=Správca aktualizácií
Name[pt_BR]=Gerenciador de atualizações
Name[is]=Uppfærslustjóri
Name[sv]=Uppdateringshanterare
Name[sq]=Menaxhuesi i Përditësimeve
Name[it]=Gestione aggiornamenti
Name[hr]=Upravitelj nadogradnjama
Name[uk]=Менеджер оновлення
Name[da]=Opdateringshåndtering
Comment=Show and install available updates
Comment[csb]=Wëskrzëni ë winstalëjë przëstãpné aktualizacëje
Comment[tl]=Show and install available updates
Comment[fr]=Afficher et installer les mises à jour disponibles
Comment[cs]=Zobrazit a nainstalovat dostupné aktualizace
Comment[pt]=Mostrar e instalar actualizações disponíveis
Comment[fo]=Vís og legg inn tøkar dagførlsur
Comment[nb]=Vis og installer tilgjengelige oppdateringer
Comment[bn]=যেসকল আপডেট পাওয়া যাচ্ছে সেগুলো প্রদর্শন এবং ইনস্টল কর
Comment[ar]=اعرض وثبت التحديثات المتوفرة
Comment[ro]=Afişează şi instalează actualizările disponibile
Comment[ast]=Amosar ya instalar los anovamientos disponibles
Comment[gl]=Mostra e instala as actualizacións dispoñibles
Comment[ja]=インストールできるアップデートを表示してインストールします
Comment[he]=הצגה והתקנת העדכונים הזמינים
Comment[sr]=Прикажи и инсталирај доступне сигурносне закрпе
Comment[pl]=Pokaż i zainstaluj dostępne aktualizacje
Comment[lt]=Rodyti ir įdiegti esamus atnaujinimus
Comment[ru]=Показать и установить доступные обновления
Comment[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
Comment[fi]=Näytä ja asenna saatavilla olevat päivitykset
Comment[de]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[el]=Προβολή και εγκατάσταση διαθέσιμων ενημερώσεων
Comment[zh_CN]=显示并安装可用更新
Comment[en_GB]=Show and install available updates
Comment[am]=ማሳያ እና መግጠሚያ ዝግጁ የሆኑ ማሻሻያዎችን
Comment[zh_HK]=顯示及安裝現有的更新套件
Comment[es]=Mostrar e instalar las actualizaciones disponibles
Comment[tr]=Mevcut güncelleri göster ve kur
Comment[bg]=Показване и инсталиране на наличните актуализации
Comment[ko]=설치할 수 있는 업데이트를 보여주고 설치합니다.
Comment[nl]=Toon en installeer beschikbare updates
Comment[et]=Näita ja paigalda saadaolevad uuendused
Comment[zh_TW]=顯示及安裝現有的更新套件
Comment[sk]=Zobraziť a nainštalovať dostupné aktualizácie
Comment[pt_BR]=Mostrar e instalar as atualizações disponíveis
Comment[is]=Sýna og setja upp tiltækar uppfærslur
Comment[sv]=Visa och installera tillgängliga uppdateringar
Comment[sq]=Shfaq dhe instalo përditësimet e disponueshme
Comment[it]=Visualizza e installa gli aggiornamenti disponibili
Comment[hr]=Pokaži i instaliraj moguće nadogradnje
Comment[uk]=Показати та встановити доступні оновлення
Comment[da]=Vis og installér tilgængelige opdateringer
Exec=mintupdate
Icon=/usr/lib/linuxmint/mintUpdate/icons/busy.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
