[Desktop Entry]
Name=Update Manager
Name[af]=Opdateringsbestuurder
Name[am]=የማሻሻያ አስተዳዳሪ
Name[ar]=مدير التحديث
Name[ast]=Xestor d'anovamientos
Name[az]=Yeniləmə İdarəçisi
Name[be]=Кіраўнік абнаўленняў
Name[bg]=Диспечер на актуализациите
Name[bn]=আপডেট ব্যবস্থাপক
Name[bs]=Menadžer nadogradnji
Name[ca]=Gestor d'actualitzacions
Name[ca@valencia]=Gestor d'actualitzacions
Name[cs]=Správa aktualizací
Name[csb]=Menedżera aktualizacëji
Name[cy]=Rheolwr Diweddaru
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[el]=Διαχειριστής Ενημερώσεων
Name[eo]=Ĝisdatiga mastrumilo
Name[es]=Gestor de actualizaciones
Name[et]=Uuendamishaldur
Name[eu]=Eguneraketa-kudeatzailea
Name[fa]=مدیر به‌روزرسانی
Name[fi]=Päivitysten hallinta
Name[fil]=Tagapamahala ng Update
Name[fo]=Dagføringa fyrisiting
Name[fr]=Gestionnaire de mises à jour
Name[fr_CA]=Gestionnaire de mises à jour
Name[ga]=Bainisteoir Nuashonraithe
Name[gd]=Manaidsear nan ùrachaidhean
Name[gl]=Xestor de actualizacións
Name[gv]=Reireyder stoo noa
Name[he]=מנהל עדכונים
Name[hi]=अपडेट मैनेजर
Name[hr]=Upravitelj nadopuna
Name[hu]=Frissítéskezelő
Name[ia]=Gestor de actualisation
Name[id]=Manajer Pembaruan
Name[ie]=Gerente de actualisamentes
Name[is]=Uppfærslustjóri
Name[it]=Gestore aggiornamenti
Name[ja]=アップデートマネージャー
Name[jv]=Penglola penganyaran
Name[kab]=Amsefrak n ileqman
Name[kk]=Жаңарту менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​បច្ចុប្បន្នភាព
Name[ko]=업데이트 매니저
Name[ku]=Rêveberiya Rojanekirinê
Name[ky]=Жаңылоо менеджери
Name[la]=Administrator Novationum
Name[lt]=Atnaujinimų tvarkytuvė
Name[lv]=Atjauninājumu pārvaldnieks
Name[mk]=Менаџер за надградба
Name[ml]=അപ്‌ഡേറ്റ് മാനേജർ
Name[mr]=अद्ययावतीकरण प्रबंधक
Name[ms]=Pengurus Kemaskini
Name[nb]=Oppdateringsbehandler
Name[nds]=Aktualisierungsverwaltung
Name[ne]=उप्डेट म्यानेजर
Name[nl]=Bijwerkbeheer
Name[nn]=Oppdateringshandsamar
Name[oc]=Gestionari de mesas a jorn
Name[pa]=ਅੱਪਡੇਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer aktualizacji
Name[pt]=Gestor de atualizações
Name[pt_BR]=Gerenciador de Atualizações
Name[ro]=Administrator de actualizări
Name[ru]=Менеджер обновлений
Name[si]=යාවත්කාල කිරීම කළමනාකරනය
Name[sk]=Správca aktualizácií
Name[sl]=Upravljalnik posodobitev
Name[so]=Agaasime Dalacsiiyaha
Name[sq]=Menaxhuesi i Përditësimeve
Name[sr]=Управник ажурирања
Name[sr@latin]=Menadžer ažuriranja
Name[sv]=Uppdateringshanterare
Name[ta]=மேம்பாட்டு  நிர்வகிப்பான்
Name[te]=నవీకరణ నిర్వాహకం
Name[tg]=Мудири навсозиҳо
Name[th]=โปรแกรมจัดการการปรับปรุง
Name[tl]=Tagapamahala ng Update
Name[tr]=Güncelleme Yöneticisi
Name[uk]=Керування оновленнями
Name[ur]=اپڈیٹ منتظم
Name[uz]=Yangilanish menejeri
Name[vi]=Trình Quản lý Cập nhật
Name[zh_CN]=更新管理器
Name[zh_HK]=更新管理員
Name[zh_TW]=更新管理員
Comment=Show and install available updates
Comment[af]=Wys en installeer beskikbare opdaterings
Comment[am]=ዝግጁ የሆኑ ማሻሻያዎችን ማሳያ እና መግጠሚያ
Comment[ar]=عرض التحديثات المتاحة وتثبيتها
Comment[ast]=Amosar ya instalar los anovamientos disponibles
Comment[be]=Паказаць і ўсталяваць даступныя абнаўленні
Comment[bg]=Показване и инсталиране на наличните актуализации
Comment[bn]=যে আপডেটসমূহ পাওয়া যাচ্ছে সেগুলো দেখাও এবং ইন্সটল কর
Comment[bs]=Prikaži i instaliraj dostupne nadogradnje
Comment[ca]=Vegeu i instal·leu les actualitzacions disponibles
Comment[ca@valencia]=Vegeu i instal·leu les actualitzacions disponibles
Comment[cs]=Zobrazit a nainstalovat dostupné aktualizace
Comment[csb]=Wëskrzëni ë winstalëjë przëstãpné aktualizacëje
Comment[cy]=Dangos a gosod y diweddariadau sydd ar gael
Comment[da]=Vis og installér tilgængelige opdateringer
Comment[de]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[el]=Εμφάνιση και εγκατάσταση διαθέσιμων ενημερώσεων
Comment[eo]=Montri kaj instali disponeblajn ĝisdatigojn
Comment[es]=Mostrar e instalar las actualizaciones disponibles
Comment[et]=Saadaolevate uuenduste kuvamine ja paigaldamine
Comment[eu]=Erakutsi eta instalatu eguneraketa eskuragarriak
Comment[fa]=نمایش و نصب به‌روزرسانی‌های موجود
Comment[fi]=Näytä ja asenna saatavilla olevat päivitykset
Comment[fil]=Ipakita at i-install ang mga available na update
Comment[fo]=Vís og legg inn tøkar dagførlsur
Comment[fr]=Afficher et installer les mises à jour disponibles
Comment[fr_CA]=Afficher et installer les mises à jour disponibles
Comment[ga]=Taispeáin agus suiteáil nuashonruithe atá ar fáil
Comment[gd]=Seall agus stàlaich ùrachaidhean a tha ri làimh
Comment[gl]=Mostra e instala as actualizacións dispoñibles
Comment[gv]=Soilshaghey as cur stoo noa ry-geddyn 'syn co`earrooder
Comment[he]=הצגה והתקנת העדכונים הזמינים
Comment[hi]=उपलब्ध अपडेट दिखाएँ व इंस्टॉल करें
Comment[hr]=Prikaži i instaliraj dostupne nadopune
Comment[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
Comment[ia]=Monstrar e installar le actualisationes disponibile
Comment[id]=Tampilkan dan instal pembaruan yang tersedia
Comment[ie]=Monstrar e installar disponibil actualisamentes
Comment[is]=Sýna og setja upp tiltækar uppfærslur
Comment[it]=Visualizza e installa gli aggiornamenti disponibili
Comment[ja]=利用可能なアップデートの表示とインストールを行います
Comment[jv]=Nampilake lan masang penganyaran sing disediakno
Comment[kab]=Sken u sbedd ileqman iwejden
Comment[kk]=Жетімді жаңартуларды көрсету және орнату
Comment[km]=បង្ហាញ និង​ដំឡើង​បច្ចុប្បន្នភាព​ដែល​មាន
Comment[ko]=이용 가능한 업데이트를 보여주고, 설치합니다
Comment[ku]=Rojanekirinên amade nîşan bide û saz bike
Comment[ky]=Жеткиликтүү жаңылоолорду көрсөтүү жана орнотуу
Comment[la]=Novationes paratas ostende et institue
Comment[lt]=Rodyti ir įdiegti prieinamus atnaujinimus
Comment[lv]=Rādīt un instalēt pieejamos atjauninājumus
Comment[mk]=Прикажи и инсталирај ги достапните надградби
Comment[ml]=ലഭ്യമായ പുതുക്കലുകൾ പ്രദർശിപ്പിക്കുകയും ഇൻസ്റ്റോൾ ചെയ്യുകയും ചെയ്യുക
Comment[mr]=अद्ययावतन दाखवा आणि स्थापित करा
Comment[ms]=Tunjuk dan pasang kemaskini yang ada
Comment[nb]=Vis og installer tilgjengelige oppdateringer
Comment[nds]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[ne]=रहेका उप्डेट हरु देखौ अनी इन्स्तल्ल गर
Comment[nl]=Beschikbare actualiseringen tonen en installeren
Comment[nn]=Vis og installer tilgjengelege oppdateringar
Comment[oc]=Afichar e installar las mesas a jorn disponiblas
Comment[pa]=ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਵੇਖੋ ਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Wyświetl i zainstaluj dostępne aktualizacje
Comment[pt]=Mostrar e instalar atualizações disponíveis
Comment[pt_BR]=Exibir e instalar as atualizações disponíveis
Comment[ro]=Arată și instalează actualizările disponibile
Comment[ru]=Показать и установить доступные обновления
Comment[si]=භවිතය සඳහ අති කට්ටල පෙන්වීම සහ ස්ථපනය කිරීම
Comment[sk]=Zobraziť a inštalovať dostupné aktualizácie
Comment[sl]=Pokaži in namesti razpoložljive posodobitve
Comment[so]=Muuji shubna dhamaan dalacsiimadda la heli karo
Comment[sq]=Shfaq dhe instalo përditësimet e disponueshme
Comment[sr]=Прикажи и угради доступна ажурирања
Comment[sr@latin]=Prikaži i instaliraj dostupna ažuriranja
Comment[sv]=Visa och installera tillgängliga uppdateringar
Comment[ta]=கிடைக்கும் மேம்பாடுகளை பட்டியலிட்டு நிறுவு
Comment[te]=లభ్యతలో ఉన్న నవీకరణలను చూపించు మరియు స్థాపించు
Comment[tg]=Намоиш додан ва насб кардани навсозиҳои дастрас
Comment[th]=แสดงและติดตั้งรายการการปรับรุ่นทั้งหมดที่มี
Comment[tl]=Ipakita at i-install ang mga update na mayroon
Comment[tr]=Mevcut güncellemeleri göster ve kur
Comment[uk]=Показати та встановити доступні оновлення
Comment[ur]=دکھائیں اور انسٹال کریں دستاب کردہ اپڈیٹس
Comment[uz]=Mavjud yangilanishlarni ko‘rsatish va o‘rnatish
Comment[vi]=Hiện và cài đặt các bản cập nhật sẵn có
Comment[zh_CN]=显示并安装可用更新
Comment[zh_HK]=顯示並安裝可用的更新
Comment[zh_TW]=顯示並安裝可用的更新
GenericName=Show and install available updates
GenericName[af]=Wys en installeer beskikbare opdaterings
GenericName[am]=ዝግጁ የሆኑ ማሻሻያዎችን ማሳያ እና መግጠሚያ
GenericName[ar]=عرض التحديثات المتاحة وتثبيتها
GenericName[ast]=Amosar ya instalar los anovamientos disponibles
GenericName[be]=Паказаць і ўсталяваць даступныя абнаўленні
GenericName[bg]=Показване и инсталиране на наличните актуализации
GenericName[bn]=যে আপডেটসমূহ পাওয়া যাচ্ছে সেগুলো দেখাও এবং ইন্সটল কর
GenericName[bs]=Prikaži i instaliraj dostupne nadogradnje
GenericName[ca]=Vegeu i instal·leu les actualitzacions disponibles
GenericName[ca@valencia]=Vegeu i instal·leu les actualitzacions disponibles
GenericName[cs]=Zobrazit a nainstalovat dostupné aktualizace
GenericName[csb]=Wëskrzëni ë winstalëjë przëstãpné aktualizacëje
GenericName[cy]=Dangos a gosod y diweddariadau sydd ar gael
GenericName[da]=Vis og installér tilgængelige opdateringer
GenericName[de]=Verfügbare Aktualisierungen anzeigen und installieren
GenericName[el]=Εμφάνιση και εγκατάσταση διαθέσιμων ενημερώσεων
GenericName[eo]=Montri kaj instali disponeblajn ĝisdatigojn
GenericName[es]=Mostrar e instalar las actualizaciones disponibles
GenericName[et]=Saadaolevate uuenduste kuvamine ja paigaldamine
GenericName[eu]=Erakutsi eta instalatu eguneraketa eskuragarriak
GenericName[fa]=نمایش و نصب به‌روزرسانی‌های موجود
GenericName[fi]=Näytä ja asenna saatavilla olevat päivitykset
GenericName[fil]=Ipakita at i-install ang mga available na update
GenericName[fo]=Vís og legg inn tøkar dagførlsur
GenericName[fr]=Afficher et installer les mises à jour disponibles
GenericName[fr_CA]=Afficher et installer les mises à jour disponibles
GenericName[ga]=Taispeáin agus suiteáil nuashonruithe atá ar fáil
GenericName[gd]=Seall agus stàlaich ùrachaidhean a tha ri làimh
GenericName[gl]=Mostra e instala as actualizacións dispoñibles
GenericName[gv]=Soilshaghey as cur stoo noa ry-geddyn 'syn co`earrooder
GenericName[he]=הצגה והתקנת העדכונים הזמינים
GenericName[hi]=उपलब्ध अपडेट दिखाएँ व इंस्टॉल करें
GenericName[hr]=Prikaži i instaliraj dostupne nadopune
GenericName[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
GenericName[ia]=Monstrar e installar le actualisationes disponibile
GenericName[id]=Tampilkan dan instal pembaruan yang tersedia
GenericName[ie]=Monstrar e installar disponibil actualisamentes
GenericName[is]=Sýna og setja upp tiltækar uppfærslur
GenericName[it]=Visualizza e installa gli aggiornamenti disponibili
GenericName[ja]=利用可能なアップデートの表示とインストールを行います
GenericName[jv]=Nampilake lan masang penganyaran sing disediakno
GenericName[kab]=Sken u sbedd ileqman iwejden
GenericName[kk]=Жетімді жаңартуларды көрсету және орнату
GenericName[km]=បង្ហាញ និង​ដំឡើង​បច្ចុប្បន្នភាព​ដែល​មាន
GenericName[ko]=이용 가능한 업데이트를 보여주고, 설치합니다
GenericName[ku]=Rojanekirinên amade nîşan bide û saz bike
GenericName[ky]=Жеткиликтүү жаңылоолорду көрсөтүү жана орнотуу
GenericName[la]=Novationes paratas ostende et institue
GenericName[lt]=Rodyti ir įdiegti prieinamus atnaujinimus
GenericName[lv]=Rādīt un instalēt pieejamos atjauninājumus
GenericName[mk]=Прикажи и инсталирај ги достапните надградби
GenericName[ml]=ലഭ്യമായ പുതുക്കലുകൾ പ്രദർശിപ്പിക്കുകയും ഇൻസ്റ്റോൾ ചെയ്യുകയും ചെയ്യുക
GenericName[mr]=अद्ययावतन दाखवा आणि स्थापित करा
GenericName[ms]=Tunjuk dan pasang kemaskini yang ada
GenericName[nb]=Vis og installer tilgjengelige oppdateringer
GenericName[nds]=Verfügbare Aktualisierungen anzeigen und installieren
GenericName[ne]=रहेका उप्डेट हरु देखौ अनी इन्स्तल्ल गर
GenericName[nl]=Beschikbare actualiseringen tonen en installeren
GenericName[nn]=Vis og installer tilgjengelege oppdateringar
GenericName[oc]=Afichar e installar las mesas a jorn disponiblas
GenericName[pa]=ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਵੇਖੋ ਤੇ ਇੰਸਟਾਲ ਕਰੋ
GenericName[pl]=Wyświetl i zainstaluj dostępne aktualizacje
GenericName[pt]=Mostrar e instalar atualizações disponíveis
GenericName[pt_BR]=Exibir e instalar as atualizações disponíveis
GenericName[ro]=Arată și instalează actualizările disponibile
GenericName[ru]=Показать и установить доступные обновления
GenericName[si]=භවිතය සඳහ අති කට්ටල පෙන්වීම සහ ස්ථපනය කිරීම
GenericName[sk]=Zobraziť a inštalovať dostupné aktualizácie
GenericName[sl]=Pokaži in namesti razpoložljive posodobitve
GenericName[so]=Muuji shubna dhamaan dalacsiimadda la heli karo
GenericName[sq]=Shfaq dhe instalo përditësimet e disponueshme
GenericName[sr]=Прикажи и угради доступна ажурирања
GenericName[sr@latin]=Prikaži i instaliraj dostupna ažuriranja
GenericName[sv]=Visa och installera tillgängliga uppdateringar
GenericName[ta]=கிடைக்கும் மேம்பாடுகளை பட்டியலிட்டு நிறுவு
GenericName[te]=లభ్యతలో ఉన్న నవీకరణలను చూపించు మరియు స్థాపించు
GenericName[tg]=Намоиш додан ва насб кардани навсозиҳои дастрас
GenericName[th]=แสดงและติดตั้งรายการการปรับรุ่นทั้งหมดที่มี
GenericName[tl]=Ipakita at i-install ang mga update na mayroon
GenericName[tr]=Mevcut güncellemeleri göster ve kur
GenericName[uk]=Показати та встановити доступні оновлення
GenericName[ur]=دکھائیں اور انسٹال کریں دستاب کردہ اپڈیٹس
GenericName[uz]=Mavjud yangilanishlarni ko‘rsatish va o‘rnatish
GenericName[vi]=Hiện và cài đặt các bản cập nhật sẵn có
GenericName[zh_CN]=显示并安装可用更新
GenericName[zh_HK]=顯示並安裝可用的更新
GenericName[zh_TW]=顯示並安裝可用的更新
Exec=mintupdate
Icon=mintupdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;
StartupNotify=false
OnlyShowIn=KDE;
