[Desktop Entry]
Name=Update Manager
Name[ar]=مدير التحديثات
Name[ast]=Xestor d'actualizaciones
Name[az]=Yeniləmə İdarəçisi
Name[bg]=Диспечер на актуализациите
Name[bn]=আপডেট ম্যানেজার
Name[ca]=Gestor d'actualitzacions
Name[cs]=Správce aktualizací
Name[csb]=Menedżera aktualizacëji
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[el]=Διαχείριση ενημερώσεων
Name[en_AU]=Update Manager
Name[en_CA]=Update Manager
Name[en_GB]=Update Manager
Name[eo]=Aktualiga Mastrumilo
Name[es]=Gestor de actualizaciones
Name[et]=Uuendamishaldur
Name[eu]=Eguneraketa-Kudeatzailea
Name[fi]=Päivitysten hallinta
Name[fil]=Update Manager
Name[fr]=Gestionnaire de mises à jour
Name[fur]=Gjestôr dai inzornaments
Name[gl]=Xestor de actualizacións
Name[he]=מנהל העדכונים
Name[hr]=Upravitelj nadogradnjama
Name[hu]=Frissítéskezelő
Name[id]=Manajer Pemutakhiran
Name[is]=Uppfærslustjóri
Name[it]=Gestore aggiornamenti
Name[ja]=アップデート・マネージャ
Name[ka]=განახლების მოურავი
Name[ko]=업데이트 관리자
Name[ku]=Rêveberiya Rojanekirinê
Name[lt]=Atnaujinimų tvarkyklė
Name[lv]=Atjaunināšanas pārvaldnieks
Name[mk]=Менаџер за надградба
Name[nb]=Oppdatering
Name[ne]=अद्यावधिक व्यवस्थापक
Name[nl]=Updatebeheer
Name[nn]=Oppdateringshandsamar
Name[no]=Oppdateringshåndterer
Name[oc]=Gestionari de mesas a jorn
Name[pl]=Menedżer aktualizacji
Name[pt]=Gestor de Actualizações
Name[pt_BR]=Gerenciador de Atualizações
Name[ro]=Administrator actualizări
Name[ru]=Менеджер обновлений
Name[sk]=Správca aktualizácií
Name[sl]=Upravljalnik posodobitev
Name[sv]=Uppdateringshanterare
Name[th]=โปรแกรมจัดการการปรับรุ่น
Name[tl]=Manedyer pang Update
Name[tr]=Güncelleme Yöneticisi
Name[uk]=Менеджер оновлення
Name[vi]=Trình Quản lý Cập nhật
Name[zh_CN]=更新管理器
Name[zh_HK]=更新管理員
Name[zh_TW]=更新管理員
GenericName=Software Updates
GenericName[ar]=تحديثات البرمجيات
GenericName[ast]=Actualizaciones de software
GenericName[bg]=Обновления на програмите
GenericName[bn]=সফ্টওয়্যার আপডেট
GenericName[ca]=Actualitzacions de programari
GenericName[cs]=Aktualizace software
GenericName[csb]=Zaktualnienia softwôrë
GenericName[da]=Softwareopdateringer
GenericName[de]=Software-Aktualisierungen
GenericName[el]=Αναβαθμίσεις λογισμικού
GenericName[en_AU]=Software Updates
GenericName[en_CA]=Software Updates
GenericName[en_GB]=Software Updates
GenericName[eo]=Programaj ĝisdatigoj
GenericName[es]=Actualizaciones de software
GenericName[eu]=Software Eguneratzeak
GenericName[fi]=Ohjelmapäivitykset
GenericName[fr]=Mises à jour des logiciels
GenericName[fur]=Inzornaments software
GenericName[gl]=Actualizacións de software
GenericName[he]=עדכוני תוכנה
GenericName[hr]=Programska ažuriranja
GenericName[hu]=Szoftverfrissítések
GenericName[id]=Perangkat Lunak Mutakhir
GenericName[is]=Hugbúnaðaruppsetningar
GenericName[it]=Aggiornamenti software
GenericName[ja]=ソフトウェアのアップデート
GenericName[ka]=პროგრამათა განახლებები
GenericName[ko]=소프트웨어 업데이트
GenericName[ku]=Rojanekirinên Nivîsbariyê
GenericName[lt]=Programinės įrangos atnaujinimai
GenericName[lv]=Programmatūras atjauninājumi
GenericName[mk]=Надградба на софтвер
GenericName[nb]=Programvareoppdateringer
GenericName[ne]=सफ्टवेयर अद्यावधिकहरु
GenericName[nl]=Software-updates
GenericName[nn]=Programvareoppdateringar
GenericName[no]=Programvareoppdateringer
GenericName[oc]=Mesa a jorn dels logicials
GenericName[pl]=Aktualizacje oprogramowania
GenericName[pt]=Actualizações de Software
GenericName[pt_BR]=Atualizações de software
GenericName[ro]=Actualizări software
GenericName[ru]=Обновления программ
GenericName[rw]=Ibihuzagihe bya porogaramumudasobwa
GenericName[sk]=Aktualizácie softvéru
GenericName[sl]=Programske posodobitve
GenericName[sv]=Programuppdateringar
GenericName[th]=ซอฟต์แวร์ปรับปรุง
GenericName[tl]=Software Updates
GenericName[tr]=Yazılım Güncellemeleri
GenericName[uk]=Оновлення програм
GenericName[vi]=Bản cập nhật phần mềm
GenericName[zh_CN]=软件更新
GenericName[zh_HK]=軟件更新
GenericName[zh_TW]=軟體更新
Comment=Show and install available updates
Comment[ar]=أظهر و ثبت التحديثات الموجودة
Comment[ast]=Amosar ya instalar les actualizaciones disponibles
Comment[az]=Mövcud yeniləmələri göstər və qur
Comment[bg]=Показване и инсталация на наличните актуализации
Comment[bn]=উপস্হিত আপডেট গুলো প্রদর্শন এবং ইন্সটল করো
Comment[ca]=Mostra i instal·la les actualitzacions disponibles
Comment[cs]=Zobrazit a nainstalovat dostupné aktualizace
Comment[da]=Vis og installér tilgængelige opdateringer
Comment[de]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[el]=Προβολή και εγκατάσταση διαθέσιμων ενημερώσεων
Comment[en_AU]=Show and install available updates
Comment[en_CA]=Show and install available updates
Comment[en_GB]=Show and install available updates
Comment[eo]=Vidigi kaj instali disponeblajn aktualigaĵojn
Comment[es]=Mostrar e instalar las actualizaciones disponibles
Comment[et]=Näita ja paigalda saadaolevad uuendused
Comment[eu]=Eguneratze eskuragarriak erakutsi eta instalatu
Comment[fi]=Näytä ja asenna saatavilla olevat päivitykset
Comment[fil]=Ipakita lahat ng maaaring i-install na update
Comment[fr]=Afficher et installer les mises à jour disponibles
Comment[fur]=Mostre e instale i inzornaments disponibii
Comment[gl]=Mostra e instala as actualizacións dispoñibles
Comment[he]=הצגה והתקנת העדכונים הזמינים
Comment[hr]=Pokaži i instaliraj dostupna ažuriranja
Comment[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
Comment[id]=Tampilkan dan instal pemutakhiran yang tersedia
Comment[is]=Sýna og setja upp tiltækar dagréttingar
Comment[it]=Mostra e installa gli aggiornamenti disponibili
Comment[ja]=インストールできるアップデートを表示してインストールします
Comment[ka]=ახალი განახლებების ჩვენება და ჩადგმა
Comment[ko]=설치할 수 있는 업데이트를 보여주고, 설치합니다.
Comment[ku]=Rojanekirinên amade nîşan bide û saz bike
Comment[lt]=Rodyti ir įdiegti galimus atnaujinimus
Comment[lv]=Parādīt un uzstādīt pieejamos atjauninājumus
Comment[mk]=Прикажи и инсталирај ги достапните надградби
Comment[nb]=Vis og installer tilgjengelige oppdateringer
Comment[nl]=Beschikbare updates tonen en installeren
Comment[nn]=Syn og installer tilgjengelege oppdateringar
Comment[oc]=Visualizar e installar las mesas a jorn disponiblas
Comment[pl]=Wyświetl i zainstaluj dostępne aktualizacje
Comment[pt]=Mostrar e instalar actualizações disponíveis
Comment[pt_BR]=Exibir e instalar as atualizações disponíveis
Comment[ro]=Afişează şi instalează actualizările disponibile
Comment[ru]=Показать и установить доступные обновления
Comment[sk]=Zobraziť a nainštalovať dostupné aktualizácie
Comment[sl]=Prikaži in namesti razpoložljive posodobitve
Comment[sv]=Visa och installera tillgängliga uppdateringar
Comment[th]=แสดงและติดตั้งรายการการปรับรุ่นทั้งหมดที่มี
Comment[tl]=Ipakita at i-install ang mga available na updates
Comment[tr]=Bulunan güncelleştirmeleri göster ve kur
Comment[uk]=Показати та встановити наявні оновлення
Comment[vi]=Hiển thị và cài đặt các bản cập nhật đã sẵn sàng
Comment[zh_CN]=显示并安装可用更新
Comment[zh_HK]=顯示及安裝現有的更新套件
Comment[zh_TW]=顯示及安裝現有的更新套件
Exec=mintupdate
Icon=/usr/lib/linuxmint/mintUpdate/icons/busy.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
