[Desktop Entry]
Name=Update Manager
Name[en_GB]=Update Manager
Name[ko]=업데이트 관리자
Name[hr]=Upravitelj nadogradnjama
Name[ms]=Pengurus Kemaskini
Name[nds]=Opfrischenoppasser
Name[bs]=menadzer nadogradnje
Name[he]=מנהל עדכונים
Name[oc]=Gestionari de mesas a jorn
Name[tr]=Güncelleme Yöneticisi
Name[fo]=Dagføringa fyrisiting
Name[id]=Pengaturan Pembaruan
Name[fr]=Gestionnaire de Mises à Jour
Name[ar]=مدير التحديثات
Name[pl]=Menedżer aktualizacji
Name[sk]=Správca aktualizácií
Name[bg]=Диспечер на актуализациите
Name[es]=Gestor de actualizaciones
Name[fa]=مدیریت به روزرسانی
Name[hi]=Update Manager
Name[vi]=Trình Quản lý Cập nhật
Name[mk]=Менаџер за надградба
Name[nb]=Oppdateringsbehandler
Name[cs]=Správce aktualizací
Name[mr]=अद्ययावतीकरण प्रबंधक
Name[is]=Uppfærslustjóri
Name[eu]=Eguneraketa Kudeatzailea
Name[sl]=Upravljalnik posodobitev
Name[fi]=Päivitysten hallinta
Name[pt]=Gestor de Actualizações
Name[sr]=Menadzer zakrpa
Name[af]=Opdateringsbestuurder
Name[tl]=Tagapamahala ng Update
Name[uk]=Менеджер оновлення
Name[am]=የማሻሻያ አስተዳዳሪ
Name[et]=Uuendamishaldur
Name[ta]=Update Manager
Name[pt_PT]=Gestor de Actualizações
Name[ast]=Xestor d'anovamientos
Name[csb]=Menedżera aktualizacëji
Name[ru]=Менеджер обновлений
Name[zh_TW]=更新管理員
Name[ja]=アップデートマネージャー
Name[ca]=Gestor d'actualitzacions
Name[en_AU]=Update Manager
Name[bn]=আপডেট ম্যানেজার
Name[zh_CN]=更新管理器
Name[nl]=Updatebeheer
Name[el]=Διαχειριστής Ενημερώσεων
Name[it]=Gestione aggiornamenti
Name[sv]=Uppdateringshanterare
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[sq]=Menaxhuesi i Përditësimeve
Name[ml]=പരിഷ്കരണ ചുമതലക്കാരന്‍
Name[nn]=Oppdateringshandsamar
Name[kk]=Жаңарту менеджері
Name[lt]=Atnaujinimų tvarkyklė
Name[pt_BR]=Gerenciador de atualizações
Name[hu]=Frissítéskezelő
Name[ro]=Administrator actualizări
Name[zh_HK]=更新管理員
Name[gl]=Xestor de actualizacións
Comment=Show and install available updates
Comment[en_GB]=Show and install available updates
Comment[ko]=이용 가능한 업데이트를 보여주고, 설치합니다
Comment[hr]=Pokaži i instaliraj moguće nadogradnje
Comment[ms]=Tunjuk dan pasang kemaskini yang ada
Comment[nds]=Show and install available updates
Comment[bs]=Prikaži i instaliraj dostupne nadogradnje
Comment[he]=הצגה והתקנת העדכונים הזמינים
Comment[oc]=Afichar e installar las mesas a jorn disponiblas
Comment[tr]=Mevcut güncellemeleri göster ve yükle
Comment[fo]=Vís og legg inn tøkar dagførlsur
Comment[id]=Tampilkan dan instal pembaruan yang tersedia
Comment[fr]=Afficher et installer les mises à jour disponibles
Comment[ar]=اعرض وثبت التحديثات المتوفرة
Comment[pl]=Pokaż i zainstaluj dostępne aktualizacje
Comment[sk]=Zobraziť a inštalovať dostupné aktualizácie
Comment[bg]=Показване и инсталиране на наличните актуализации
Comment[es]=Muestra e instala las actualizaciones disponibles
Comment[fa]=نمایش و نصب به روزرسانی های در دسترس
Comment[hi]=Show and install available updates
Comment[vi]=Hiển thị và cài đặt các bản cập nhật hiện hữu
Comment[mk]=Прикажи и инсталирај ги достапните надградби
Comment[nb]=Vis og installer tilgjengelige oppdateringer
Comment[cs]=Zobrazit a nainstalovat dostupné aktualizace
Comment[mr]=अद्ययावतन दाखवा आणि स्थापित करा
Comment[is]=Sýna og setja upp tiltækar uppfærslur
Comment[eu]=Eguneratze eskuragarriak erakutsi eta instalatu
Comment[sl]=Prikaži in namesti posodobitve, ki so na voljo
Comment[fi]=Näytä ja asenna saatavilla olevat päivitykset
Comment[pt]=Mostrar e instalar actualizações disponíveis
Comment[sr]=Prikazi i instaliraj dostupne zakrpe
Comment[af]=Wys en installeer beskikbare opdaterings
Comment[tl]=Show and install available updates
Comment[uk]=Показати та встановити доступні оновлення
Comment[am]=ማሳያ እና መግጠሚያ ዝግጁ የሆኑ ማሻሻያዎችን
Comment[et]=Näita ja paigalda saadaolevaid uuendusi
Comment[ta]=Show and install available updates
Comment[pt_PT]=Mostrar e instalar actualizações disponíveis
Comment[ast]=Amosar ya instalar los anovamientos disponibles
Comment[csb]=Wëskrzëni ë winstalëjë przëstãpné aktualizacëje
Comment[ru]=Показать и установить доступные обновления
Comment[zh_TW]=顯示及安裝可用的更新
Comment[ja]=利用可能なアップデートを表示してインストールします
Comment[ca]=Mostra i instal·la les actualitzacions disponibles
Comment[en_AU]=Show and install available updates
Comment[bn]=যেসকল আপডেট পাওয়া যাচ্ছে সেগুলো প্রদর্শন এবং ইনস্টল কর
Comment[zh_CN]=显示并安装可用更新
Comment[nl]=Beschikbare updates tonen en installeren
Comment[el]=Προβολή και εγκατάσταση διαθέσιμων ενημερώσεων
Comment[it]=Visualizza e installa gli aggiornamenti disponibili
Comment[sv]=Visa och installera tillgängliga uppdateringar
Comment[da]=Vis og installér tilgængelige opdateringer
Comment[de]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[sq]=Shfaq dhe instalo përditësimet e disponueshme
Comment[ml]=ലഭ്യമായ പരിഷ്ക്കാരങ്ങള്‍ കാണിക്കുകയും ഇന്‍സ്റ്റോള്‍ ചെയ്യുകയും ചെയ്യുക
Comment[nn]=Vis og installer tilgjengelege oppdateringar
Comment[kk]=Жетімді жаңартуларды көрсету және орнату
Comment[lt]=Rodyti ir įdiegti esamus atnaujinimus
Comment[pt_BR]=Mostrar e instalar as atualizações disponíveis
Comment[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
Comment[ro]=Arată şi instalează actualizările disponibile
Comment[zh_HK]=顯示及安裝現有的更新套件
Comment[gl]=Mostra e instala as actualizacións dispoñibles
Exec=mintupdate
Icon=update-manager.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
