[Desktop Entry]
Version=1.0
Name=Gestionnaire de mise à jour
Comment=Met à jour le système et les paquets MythicOS
Exec=python3 /usr/lib/MythicOS/mythic-update/mythicUpdate.py
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
