[Unit]
Description=Update Manager automatic upgrades
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/linuxmint/mintUpdate/automatic_upgrades.py

[Install]
WantedBy=multi-user.target
