[Unit]
Description=Update Manager automatic upgrades

[Timer]
OnCalendar=daily
RandomizedDelaySec=1 day
Persistent=true

[Install]
WantedBy=timers.target
