# cleanup in case mintupdate automation was interrupted

[Unit]
Description=Update Manager Automation Cleanup
ConditionPathExists=|/etc/polkit-1/localauthority/90-mandatory.d/99-mintupdate-temporary.pkla
ConditionPathIsSymbolicLink=|/etc/polkit-1/localauthority/90-mandatory.d/99-mintupdate-temporary.pkla

[Service]
Type=oneshot
CPUQuota=50%
CPUWeight=20
IOWeight=20
ExecStart=/bin/rm -f /etc/polkit-1/localauthority/90-mandatory.d/99-mintupdate-temporary.pkla
