[Unit]
Description=Update Manager weekly autoremove

[Timer]
OnCalendar=weekly
OnStartupSec=180m
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target
