banshee|*|2||
firefox|*|2||
thunderbird|*|2||
*language-pack|*|2||
*flashplugin|*|2||
*wine|*|2||
pidgin|*|2||
*libreoffice|*|2||
chromium-browser|*|2||
transmission|*|2||
shotwell|*|2||
shutter|*|2||
evince|*|2||
gnome-calculator|*|2||
gthumb|*|2||
dbus|*|4||
*xorg|*|4||
acpid|*|4||
mountall|*|4||
mesa|*|4||
systemd|*|4||
plymouth|*|4||
upstart|*|4||
*base-files|*|5||
*linux-|*|5||
linux|*|5||
grub|*|5||
grub2|*|5||


