
# built against the LTS Vivid Xorg/MESA stack. Upgrading it removes virtualbox-guest-x11. Reinstalling the package breaks Xorg.
5|virtualbox|5.0.4-dfsg-2

# Level 3
3|*caja|*
3|*cinnamon|*
3|*cjs|*
3|*libgtk|*
3|*marco|*
3|*mate|*
3|*metacity|*
3|*muffin|*
3|*nemo|*
3|dbus|*
3|glibc|*
3|mountall|*

# Level 4
4|acpid|*
4|*lightdm|*
4|*slick-greeter|*
4|*linux-|*
4|*mdm|*
4|*nvidia|*
4|*xorg|*
4|bcmwl|*
4|ndiswrapper|*
4|grub2|*
4|grub|*
4|linux|*
4|mesa|*
4|plymouth|*
4|systemd|*
4|ubuntu-drivers-common|*
4|upstart|*

# DE Apps
1|atril|*
1|eog|*
1|eom|*
1|evince|*
1|file-roller|*
1|gedit|*
1|gnome-calculator|*
1|gnome-screenshot|*
1|gnome-terminal|*
1|gthumb|*
1|pix|*
1|pluma|*
1|totem|*
1|xed|*
1|xplayer|*
1|xreader|*
1|xviewer|*

# Multimedia apps
1|banshee|*
1|gimp|*
1|inkscape|*
1|mpv|*
1|rhythmbox|*
1|simple-scan|*
1|vlc|*

# Internet apps
1|chromium-browser|*
1|firefox|*
1|hexchat|*
1|pidgin|*
1|skype|*
1|thunderbird|*
1|transmission|*

# Other apps
1|*flashplugin|*
1|*libreoffice|*
1|*mint|*
1|*spotify|*
1|*steam|*
1|*sublime|*
1|*wine|*
1|shotwell|*
1|shutter|*

# Move to GTK3 version of MATE
3|engrampa|*
3|mintmenu|*
