<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Linux Mint</vendor>
  <vendor_url>https://linuxmint.com/</vendor_url>

  <action id="com.linuxmint.updates.automation">
    <icon_name>mintupdate</icon_name>
<message>Update Manager</message>
<message xml:lang="af">Opdateringsbestuurder</message>
<message xml:lang="am">የማሻሻያ አስተዳዳሪ</message>
<message xml:lang="ar">مدير التحديث</message>
<message xml:lang="ast">Xestor d'anovamientos</message>
<message xml:lang="az">Yeniləmə İdarəçisi</message>
<message xml:lang="be">Кіраўнік абнаўленняў</message>
<message xml:lang="bg">Диспечер на актуализациите</message>
<message xml:lang="bn">আপডেট ব্যবস্থাপক</message>
<message xml:lang="bs">Menadžer nadogradnji</message>
<message xml:lang="ca">Gestor d'actualitzacions</message>
<message xml:lang="ca@valencia">Gestor d'actualitzacions</message>
<message xml:lang="cs">Správa aktualizací</message>
<message xml:lang="csb">Menedżera aktualizacëji</message>
<message xml:lang="cy">Rheolwr Diweddaru</message>
<message xml:lang="da">Opdateringshåndtering</message>
<message xml:lang="de">Aktualisierungsverwaltung</message>
<message xml:lang="el">Διαχειριστής Ενημερώσεων</message>
<message xml:lang="eo">Ĝisdatiga mastrumilo</message>
<message xml:lang="es">Gestor de actualizaciones</message>
<message xml:lang="et">Uuendamishaldur</message>
<message xml:lang="eu">Eguneraketa-kudeatzailea</message>
<message xml:lang="fa">مدیر به‌روزرسانی</message>
<message xml:lang="fi">Päivitysten hallinta</message>
<message xml:lang="fil">Tagapamahala ng Update</message>
<message xml:lang="fo">Dagføringa fyrisiting</message>
<message xml:lang="fr">Gestionnaire de mises à jour</message>
<message xml:lang="fr_CA">Gestionnaire de mises à jour</message>
<message xml:lang="ga">Bainisteoir Nuashonraithe</message>
<message xml:lang="gd">Manaidsear nan ùrachaidhean</message>
<message xml:lang="gl">Xestor de actualizacións</message>
<message xml:lang="gv">Reireyder stoo noa</message>
<message xml:lang="he">מנהל עדכונים</message>
<message xml:lang="hi">अपडेट मैनेजर</message>
<message xml:lang="hr">Upravitelj nadopuna</message>
<message xml:lang="hu">Frissítéskezelő</message>
<message xml:lang="ia">Gestor de actualisation</message>
<message xml:lang="id">Manajer Pembaruan</message>
<message xml:lang="ie">Gerente de actualisamentes</message>
<message xml:lang="is">Uppfærslustjóri</message>
<message xml:lang="it">Gestore Aggiornamenti</message>
<message xml:lang="ja">アップデートマネージャー</message>
<message xml:lang="jv">Penglola penganyaran</message>
<message xml:lang="kab">Amsefrak n ileqman</message>
<message xml:lang="kk">Жаңарту менеджері</message>
<message xml:lang="km">កម្មវិធី​គ្រប់គ្រង​បច្ចុប្បន្នភាព</message>
<message xml:lang="ko">업데이트 매니저</message>
<message xml:lang="ku">Rêveberiya Rojanekirinê</message>
<message xml:lang="ky">Жаңылоо менеджери</message>
<message xml:lang="la">Administrator Novationum</message>
<message xml:lang="lt">Atnaujinimų tvarkytuvė</message>
<message xml:lang="lv">Atjauninājumu pārvaldnieks</message>
<message xml:lang="mk">Менаџер за надградба</message>
<message xml:lang="ml">അപ്‌ഡേറ്റ് മാനേജർ</message>
<message xml:lang="mr">अद्ययावतीकरण प्रबंधक</message>
<message xml:lang="ms">Pengurus Kemaskini</message>
<message xml:lang="nb">Oppdateringsbehandler</message>
<message xml:lang="nds">Aktualisierungsverwaltung</message>
<message xml:lang="ne">उप्डेट म्यानेजर</message>
<message xml:lang="nl">Bijwerkbeheer</message>
<message xml:lang="nn">Oppdateringshandsamar</message>
<message xml:lang="oc">Gestionari de mesas a jorn</message>
<message xml:lang="pa">ਅੱਪਡੇਟ ਮੈਨੇਜਰ</message>
<message xml:lang="pl">Menedżer aktualizacji</message>
<message xml:lang="pt">Gestor de atualizações</message>
<message xml:lang="pt_BR">Gerenciador de Atualizações</message>
<message xml:lang="ro">Administrator de actualizări</message>
<message xml:lang="ru">Менеджер обновлений</message>
<message xml:lang="si">යාවත්කාල කිරීම කළමනාකරනය</message>
<message xml:lang="sk">Správca aktualizácií</message>
<message xml:lang="sl">Upravljalnik posodobitev</message>
<message xml:lang="so">Agaasime Dalacsiiyaha</message>
<message xml:lang="sq">Menaxhuesi i Përditësimeve</message>
<message xml:lang="sr">Управник ажурирања</message>
<message xml:lang="sr@latin">Menadžer ažuriranja</message>
<message xml:lang="sv">Uppdateringshanterare</message>
<message xml:lang="ta">மேம்பாட்டு  நிர்வகிப்பான்</message>
<message xml:lang="te">నవీకరణ నిర్వాహకం</message>
<message xml:lang="tg">Мудири навсозиҳо</message>
<message xml:lang="th">โปรแกรมจัดการการปรับปรุง</message>
<message xml:lang="tl">Tagapamahala ng Update</message>
<message xml:lang="tr">Güncelleme Yöneticisi</message>
<message xml:lang="uk">Керування оновленнями</message>
<message xml:lang="ur">اپڈیٹ منتظم</message>
<message xml:lang="uz">Yangilanish menejeri</message>
<message xml:lang="vi">Trình Quản lý Cập nhật</message>
<message xml:lang="zh_CN">更新管理器</message>
<message xml:lang="zh_HK">更新管理員</message>
<message xml:lang="zh_TW">更新管理員</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mintupdate-automation</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
