[Desktop Entry]
Encoding=UTF-8
Name=Flatpak and Cinnamon Spice updater autostarter
Icon=stock_lock
Exec=mintupdate-auto-flatpak-cinnamon
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=20
X-MATE-Autostart-Delay=20
Hidden=true