[Desktop Entry]
Encoding=UTF-8
Name=mintUpdate
Comment=Linux Mint Update Manager
Icon=stock_lock
Exec=/usr/lib/linuxmint/mintUpdate/mintUpdate.py
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;KDE;

