[Desktop Entry]
Encoding=UTF-8
Name=mintUpdate
Comment=Linux Mint Update Manager
Icon=stock_lock
Exec=mintupdate-launcher
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Delay=20
X-MATE-Autostart-Delay=20

