[Desktop Entry]
Encoding=UTF-8
Name=mintUpdate
Comment=Linux Mint Update Manager
Icon=mintupdate
Exec=/bin/sh -c 'sleep 20;mintupdate-launcher'
Terminal=false
Type=Application
Categories=
OnlyShowIn=XFCE;
