[Desktop Entry]
Encoding=UTF-8
Name=Update Manager
Name[af]=Opdateringsbestuurder
Name[am]=የማሻሻያ አስተዳዳሪ
Name[ar]=مدير التحديث
Name[ar_AR]=مدير التحديث
Name[ar_MA]=مدير التحديث
Name[ast]=Xestor d'anovamientos
Name[az]=Yeniləmə İdarəçisi
Name[be]=Кіраўнік абнаўленняў
Name[be@latin]=Кіраўнік абнаўленняў
Name[bg]=Диспечер на актуализациите
Name[bg_BG]=Диспечер на актуализациите
Name[bn]=আপডেট ব্যবস্থাপক
Name[bn_BD]=আপডেট ব্যবস্থাপক
Name[bn_IN]=আপডেট ব্যবস্থাপক
Name[bs]=Menadžer nadogradnji
Name[ca]=Gestor d'actualitzacions
Name[ca@valencia]=Gestor d'actualitzacions
Name[ca_ES@valencia]=Gestor d'actualitzacions
Name[cs]=Správa aktualizací
Name[cs_CZ]=Správa aktualizací
Name[csb]=Menedżera aktualizacëji
Name[cy]=Rheolwr Diweddaru
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[de_CH]=Aktualisierungsverwaltung
Name[de_DE]=Aktualisierungsverwaltung
Name[el]=Διαχειριστής Ενημερώσεων
Name[eo]=Ĝisdatiga mastrumilo
Name[es]=Administrador de actualizaciones
Name[es_419]=Administrador de actualizaciones
Name[es_AR]=Administrador de actualizaciones
Name[es_CL]=Administrador de actualizaciones
Name[es_CO]=Administrador de actualizaciones
Name[es_CR]=Administrador de actualizaciones
Name[es_DO]=Administrador de actualizaciones
Name[es_EC]=Administrador de actualizaciones
Name[es_ES]=Administrador de actualizaciones
Name[es_MX]=Administrador de actualizaciones
Name[es_NI]=Administrador de actualizaciones
Name[es_PA]=Administrador de actualizaciones
Name[es_PE]=Administrador de actualizaciones
Name[es_PR]=Administrador de actualizaciones
Name[es_SV]=Administrador de actualizaciones
Name[es_US]=Administrador de actualizaciones
Name[es_UY]=Administrador de actualizaciones
Name[es_VE]=Administrador de actualizaciones
Name[et]=Uuendamishaldur
Name[eu]=Eguneraketa-kudeatzailea
Name[fa]=مدیر به‌روزرسانی
Name[fa_AF]=مدیر به‌روزرسانی
Name[fa_IR]=مدیر به‌روزرسانی
Name[fi]=Päivitysten hallinta
Name[fi_FI]=Päivitysten hallinta
Name[fil]=Tagapamahala ng Update
Name[fo]=Dagføringa fyrisiting
Name[fr]=Gestionnaire de mises à jour
Name[fr_CA]=Gestionnaire de mises à jour
Name[fr_FR]=Gestionnaire de mises à jour
Name[ga]=Bainisteoir Nuashonraithe
Name[gd]=Manaidsear nan ùrachaidhean
Name[gl]=Xestor de actualizacións
Name[gl_ES]=Xestor de actualizacións
Name[gv]=Reireyder stoo noa
Name[he]=מנהל עדכונים
Name[he_IL]=מנהל עדכונים
Name[hi]=अपडेट मैनेजर
Name[hr]=Upravitelj nadopuna
Name[hu]=Frissítéskezelő
Name[hu_HU]=Frissítéskezelő
Name[ia]=Gestor de actualisation
Name[id]=Manajer Pembaruan
Name[id_ID]=Manajer Pembaruan
Name[is]=Uppfærslustjóri
Name[it]=Gestore Aggiornamenti
Name[it_IT]=Gestore Aggiornamenti
Name[ja]=アップデートマネージャ
Name[ja_JP]=アップデートマネージャ
Name[jv]=Penglola penganyaran
Name[kk]=Жаңарту менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​បច្ចុប្បន្នភាព
Name[km_KH]=កម្មវិធី​គ្រប់គ្រង​បច្ចុប្បន្នភាព
Name[ko]=업데이트 매니저
Name[ko_KR]=업데이트 매니저
Name[ku]=Rêveberiya Rojanekirinê
Name[ku_IQ]=Rêveberiya Rojanekirinê
Name[ky]=Жаңылоо менеджери
Name[lt]=Atnaujinimų tvarkytuvė
Name[lt_LT]=Atnaujinimų tvarkytuvė
Name[lv]=Atjauninājumu pārvaldnieks
Name[lv_LV]=Atjauninājumu pārvaldnieks
Name[mk]=Менаџер за надградба
Name[mk_MK]=Менаџер за надградба
Name[ml]=അപ്‌ഡേറ്റ് മാനേജർ
Name[mr]=अद्ययावतीकरण प्रबंधक
Name[ms]=Pengurus Kemaskini
Name[ms_MY]=Pengurus Kemaskini
Name[nb]=Oppdateringsbehandler
Name[nb_NO]=Oppdateringsbehandler
Name[nds]=Aktualisierungsverwaltung
Name[ne]=उप्डेट म्यानेजर
Name[nl]=Bijwerkbeheer
Name[nl_NL]=Bijwerkbeheer
Name[nn]=Oppdateringshandsamar
Name[nn_NO]=Oppdateringshandsamar
Name[oc]=Gestionari de mesas a jorn
Name[pa]=ਅੱਪਡੇਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer aktualizacji
Name[pl_PL]=Menedżer aktualizacji
Name[pt]=Gestor de Atualizações
Name[pt_BR]=Gerenciador de Atualizações
Name[pt_PT]=Gestor de Atualizações
Name[ro]=Administrator de actualizări
Name[ro_RO]=Administrator de actualizări
Name[ru]=Менеджер обновлений
Name[si]=යාවත්කාල කිරීම කළමනාකරනය
Name[sk]=Správca aktualizácií
Name[sk_SK]=Správca aktualizácií
Name[sl]=Upravljalnik posodobitev
Name[sl_SI]=Upravljalnik posodobitev
Name[so]=Agaasime Dalacsiiyaha
Name[sq]=Menaxhuesi i Përditësimeve
Name[sr]=Управник ажурирања
Name[sr@Latn]=Upravnik ažuriranja
Name[sr@cyrillic]=Управник ажурирања
Name[sr@ije]=Управник ажурирања
Name[sr@ijekavianlatin]=Управник ажурирања
Name[sr@latin]=Upravnik ažuriranja
Name[sr_RS]=Управник ажурирања
Name[sr_RS@latin]=Upravnik ažuriranja
Name[sv]=Uppdateringshanterare
Name[ta]=மேம்பாட்டு  நிர்வகிப்பான்
Name[ta_LK]=மேம்பாட்டு  நிர்வகிப்பான்
Name[te]=నవీకరణ నిర్వాహకం
Name[tg]=Мудири навсозиҳо
Name[th]=โปรแกรมจัดการการปรับปรุง
Name[th_TH]=โปรแกรมจัดการการปรับปรุง
Name[tl]=Tagapamahala ng Update
Name[tr]=Güncelleme Yöneticisi
Name[uk]=Менеджер оновлень
Name[uk_UA]=Менеджер оновлень
Name[ur]=اپڈیٹ منتظم
Name[ur_PK]=اپڈیٹ منتظم
Name[vi]=Trình Quản lý Cập nhật
Name[vi_VN]=Trình Quản lý Cập nhật
Name[zh_CN]=更新管理器
Name[zh_HK]=更新管理員
Name[zh_TW]=更新管理員
Comment=Linux Mint Update Manager
Icon=mintupdate
Exec=mintupdate-launcher
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Delay=20
X-MATE-Autostart-Delay=20
